$primary  : #202020;
$secondary: #121212;
$white    : #fff;
$black    : #000;
$red      : #ED3024;
$blue     : #3137C9;

$z-index-sidebar: 1000;
$z-index-header : 1000;
$z-index-modal : 1010;

$header-height: 6rem;
$sidebar-width: 300px;

//$tablet-bp: 991px;
//$mobile-bp: 575px;

$desktop-l: 1300px;
$desktop: 1201px;
$laptop: 1025px;
$tablet: 769px;
$mobile: 598px;
$mobile-s: 481px;
$mobile-xs: 415px;


