<header class="header">

    <div class="header__left">

        <a class="header__logo" href="#">
            <img src="assets/images/AlexSun.svg" alt="Logo">
        </a>
    </div>

    <nav class="nav" id="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href="index.html">home</a>
            </li>
            <li class="nav__item  nav__item_submenu">
                <a class="nav__link  has-subnav" href="#">services</a>

                <ul class="subnav">
                    <li>
                        <a class="subnav__link" href="#">Item1</a>
                    </li>
                    <li>
                        <a class="subnav__link" href="#">Item2</a>
                    </li>
                    <li>
                        <a class="subnav__link" href="#">Item3</a>
                    </li>
                </ul>

            </li>
            <li class="nav__item  nav__item_submenu">
                <a class="nav__link  has-subnav" href="#">about</a>

                <ul class="subnav">
                    <li>
                        <a class="subnav__link" href="#">Item1</a>
                    </li>
                    <li>
                        <a class="subnav__link" href="#">Item2</a>
                    </li>
                    <li>
                        <a class="subnav__link" href="#">Item3</a>
                    </li>
                </ul>

            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">contacts</a>
            </li>
        </ul>
    </nav>

    <div class="header__right">

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="profile.html">profile</a>
                </li>
            </ul>
        </nav>

        <button class="burger" type="button" id="navToggle">
            <span></span>
        </button>

    </div>
</header>
